[submodule "react-portafolio"]
	path = react-portafolio
	url = https://github.com/MaximilianoRom7/react-portafolio
[submodule "source/react-portafolio"]
	path = source/react-portafolio
	url = https://github.com/MaximilianoRom7/react-portafolio
